<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">tests/integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="TESTS_DB_MYSQL_HOSTNAME" value="127.0.0.1"/>
    <env name="TESTS_DB_MYSQL_HOSTPORT" value="3306"/>
    <env name="TESTS_DB_MYSQL_DATABASE" value="testing"/>
    <env name="TESTS_DB_MYSQL_USERNAME" value="root"/>
    <env name="TESTS_DB_MYSQL_PASSWORD" value="password"/>
    <env name="TESTS_DB_PGSQL_HOSTNAME" value="127.0.0.1"/>
    <env name="TESTS_DB_PGSQL_HOSTPORT" value="5432"/>
    <env name="TESTS_DB_PGSQL_DATABASE" value="testing"/>
    <env name="TESTS_DB_PGSQL_USERNAME" value="root"/>
    <env name="TESTS_DB_PGSQL_PASSWORD" value="password"/>
  </php>
</phpunit>